@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&family=Bree+Serif&family=IBM+Plex+Sans&display=swap');

* {
    font-family: 'IBM Plex Sans', sans-serif;
}

#first-three-inputs {
    margin: 12px;
    display: flex;
    justify-content: space-around;
}

label {
    font-family: 'Bree Serif', serif;
    margin: 16px 0;
}

.select-group {
    width: 30%;
}

#rating-group {
    margin: 8px 23px;
}

.user-select {
    width: 100%;
    font-size: 1rem;
    /* font-family: 'Baloo Bhai 2', cursive; */
}

select {
    margin: 3px 0;
    padding: 8px;
    /* border: none; */
}

hr {
    margin: 12px;
}

/* .headings {
} */

.headings {
    margin: 10px 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Bree Serif', serif;

}

#movie-row {
    margin: 10px 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.w-80 {
    width: 80%;
}

.w-6 {
    width: 6%;
}

.flex,
.hor-center {
    display: flex;
    justify-content: center;

}

.font {
    font-family: 'Bree Serif', serif;
}

#movie {
    display: flex;
    align-items: center;
}

#description {
    margin: 0 20px;
}

#title {
    color: rgba(47, 83, 149, 0.991);
    font-size: 1.1rem;
    font-weight: bold;
}

#second-line {
    margin: 8px 0;
    color: rgb(111, 110, 110);
}

#certification {
    border: 2px solid silver;
    padding: 2px 3px;
    border-radius: 6px;
}

#genres {
    margin: 0 4px;
}

@media screen and (max-width:500px) {
    select {
        padding: 4px;
    }

    .headings,
    #movie-row {
        margin: 10px 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    hr {
        margin: 6px;
    }

    .w-80 {
        width: 70%;
    }

    #title {
        font-size: 0.9rem;
    }

    #description {
        font-size: 0.8rem;
    }

    h1 {
        font-size: 1.2rem;
    }

    .user-select {
        font-size: 0.8rem;
        /* font-family: 'Baloo Bhai 2', cursive; */
    }

    label {
        margin: 8px 0;
        font-size: 0.9rem;
    }

    #second-line {
        display: flex;
        flex-direction: column;
    }

    #certification {
        border: 2px solid silver;
        padding: 1px 3px;
        border-radius: 6px;
        align-self: flex-start;
    }

    #genres {
        margin: 3px 0;
    }
    #movie-row{
        font-size: .8rem;
    }
}