table {
    width: 100%;
}

#movie-heading {
    text-align: start;
}

.movie-td {
    display: flex;
    align-items: center;

}

.description {
    margin-left: 10px;
}

.lastLine {
    display: flex;
}

#certi {
    border: 1px solid black;
    border-radius: 5px;
    margin-right: 12px;
}